In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import os

In [2]:
save_file = './save/'

In [3]:
save_benchmark_files = save_file + 'benchmarks/'
save_qrwg_files = save_file + 'qrwg_pa=0.05/'

In [4]:
tau = 1

In [5]:
ipw_array = []
dr_array = []
match_mcm_array = []
match_mnm_array = []
qrwg_array = []

In [6]:
def summary_table_gen(dat_array,tau,method):
    bias = dat_array[:,:,0].mean(axis=0)-1
    std = dat_array[:,:,1].std(axis=0)
    rmse = np.sqrt(((dat_array[:,:,0]-1)**2).mean(axis=0))
    covarage = ((dat_array[:,:,1]<=tau)*(dat_array[:,:,2]>=tau)).mean(axis=0)
    width = (dat_array[:,:,2] - dat_array[:,:,1]).mean(axis=0)
    
    df = pd.DataFrame({'Outcome':['First','Second','Third'],
                   'Bias':bias,
                   'Std':std,
                   'RMSE':rmse,
                   'CI Covarage':covarage,
                   'CI Width':width,
                   'Method':method})
    return df

In [7]:
for i in tqdm(range(1000)):
    ipw_df = pd.read_csv(save_benchmark_files + str(i) + '/ipw.csv')
    dr_df = pd.read_csv(save_benchmark_files + str(i) + '/dr.csv')
    match_mnm_df = pd.read_csv(save_benchmark_files + str(i) + '/match_mnm.csv')
    match_mcm_df = pd.read_csv(save_benchmark_files + str(i) + '/match_mcm.csv')
    qrwg_df = pd.read_csv(save_qrwg_files + str(i) + '/tau_est.csv')
    
    ipw = ipw_df.iloc[:3,:3].values
    dr = dr_df.iloc[:3,:3].values
    match_mcm = match_mcm_df.iloc[:3,:3].values
    match_mnm = match_mnm_df.iloc[:3,:3].values
    qrwg = qrwg_df.values
    
    ipw_array.append(ipw)
    dr_array.append(dr)
    match_mcm_array.append(match_mcm)
    match_mnm_array.append(match_mnm)
    qrwg_array.append(qrwg)

100%|██████████| 1000/1000 [00:13<00:00, 73.64it/s]

In [8]:
ipw_array = np.array(ipw_array)
dr_array = np.array(dr_array)
match_mcm_array = np.array(match_mcm_array)
match_mnm_array = np.array(match_mnm_array)
qrwg_array = np.array(qrwg_array)

In [9]:
ipw_sum_df = summary_table_gen(ipw_array,tau,'IPW')
dr_sum_df = summary_table_gen(dr_array,tau,'DR')
match_mcm_sum_df = summary_table_gen(match_mcm_array,tau,'M-C-m')
match_mnm_sum_df = summary_table_gen(match_mnm_array,tau,'M-N-m')
qrwg_sum_df = summary_table_gen(qrwg_array,tau,'QRWG')

In [10]:
qrwg_sum_df

  Outcome      Bias       Std      RMSE  CI Covarage  CI Width Method
0   First  0.011260  0.141977  0.131995        0.998  0.883009   QRWG
1  Second -0.241081  0.987083  0.978538        0.677  2.005453   QRWG
2   Third  0.076905  1.602629  1.432878        0.591  2.370904   QRWG

In [11]:
ipw_sum_df

  Outcome      Bias        Std      RMSE  CI Covarage   CI Width Method
0   First  0.015431   0.703428  0.354315        0.958   1.597691    IPW
1  Second -0.016716   3.876556  0.995551        1.000   9.967476    IPW
2   Third  0.072074  36.071643  1.911749        0.981  14.715582    IPW

In [12]:
dr_sum_df

  Outcome      Bias        Std      RMSE  CI Covarage   CI Width Method
0   First  0.001744   0.101625  0.101304        0.163   0.039650     DR
1  Second -0.087401   3.062344  1.232460        0.865   5.379909     DR
2   Third  0.095117  31.696071  1.766488        0.945  12.062743     DR

In [13]:
match_mnm_sum_df

  Outcome      Bias       Std      RMSE  CI Covarage  CI Width Method
0   First  0.060054  0.414120  0.405716        0.994  2.268468  M-N-m
1  Second -0.005841  1.049262  1.005794        0.989  5.009114  M-N-m
2   Third  0.088527  1.975121  1.616854        0.974  6.619360  M-N-m

In [14]:
match_mcm_sum_df

  Outcome      Bias       Std      RMSE  CI Covarage  CI Width Method
0   First  0.000406  0.117138  0.115630        0.956  0.464215  M-C-m
1  Second -0.157737  0.903815  0.909211        0.948  3.532099  M-C-m
2   Third  0.054498  1.741218  1.383094        0.975  5.954523  M-C-m